body {
    font-family: Roboto;
    color: #2E2F42;
}

.logo-black {
    color: #2E2F42;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
}

.logo-blue {
    color: #4D5AE5;
}

.menu {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #2E2F42;
}

.contacts {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #2E2F42;
}